!!!
%html
  %head
    %title SnagL&trade; Demo
    %link{"type" => "text/css", "href" => "css/base.css", "rel" => "stylesheet"}
    %script{"type" => "text/javascript", "src" => "javascript/jit/jit.js"}
    %script{"type" => "text/javascript", "src" => "javascript/forceDirected.js"}
  %body{"onload" => "init('graphCanvas');"}
    #container
      #graphCanvas
      #log
