!!!
%html
  %head
    %title SnagL&trade; Demo
    %link{"type" => "text/css", "href" => "css/base.css", "rel" => "stylesheet"}
  %body
    #header
      SnagL&trade;
    #container
      %table
        %thead
          %th Sample
          %th Description
        %tr
          %td
            %a{"href" => :forceDirected} Force Directed
          %td A simple force directed demo
